In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [7]:
answers = {
    answers['1'] == 'Pirates of the Caribbean: On Stranger Tides',
    answers['2'] == 'Gods and Generals',
    answers['3'] ==  'Winnie the Pooh',
    answers['4'] == '109.6585494970884',
    answers['5'] == '107',
    answers['6'] == 'Avatar',
    answers['7'] == 'The Lone Ranger',
    answers['8'] == '1478',
    answers['9'] == 'The Dark Knight',
    answers['10'] == 'The Lone Ranger',
    answers['11'] == 'Drama',
    answers['12'] == 'Drama',
    answers['13'] == 'Peter Jackson',
    answers['14'] == 'Robert Rodriguez',
    answers['15'] == 'Chris Hemsworth',
    answers['16'] == 'Matt Damon',
    answers['17'] == 'Action',
    answers['18'] == 'K-19: The Widowmaker',
    answers['19'] == '2015',
    answers['20'] == '2014',
    answers['21'] == '9',
    answers['22'] == '450',
    answers['23'] == 'Peter Jackson',
    answers['24'] == 'Four By Two Productions',
    answers['25'] == 'Midnight Picture Show',
    answers['26'] == 'Inside Out, The Dark Knight, 12 Years a Slave',
    answers['27'] == 'Daniel Radcliffe, Rupert Grint'
} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['profit'] = data['revenue'] - data['budget'] # создаем колонку "прибыль"

NameError: name 'answers' is not defined

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data.budget.max()
data[data.budget == 380000000]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [11]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [20]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [21]:
data.describe() # строка 50% - медианные значения столбцов

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [27]:
data['profit'] = data['revenue'] - data['budget']# лучше код получения столбца profit вынести в Предобработку что в начале
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [5]:
data['profit'] = data['revenue'] - data['budget']
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [30]:
data.original_title[data.revenue > data.budget].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [10]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = data['revenue'] - data['budget']
data = data[data.release_year == 2008]
data.groupby(['original_title'])['profit'].max().sort_values(ascending = False)

original_title
The Dark Knight                                       816921825
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Mamma Mia!                                            557841637
Kung Fu Panda                                         501744560
Hancock                                               474029371
                                                        ...
Speed Racer                                           -26054234
The Express                                           -30206504
City of Ember                                         -37130952
Outlander                                             -42966317
Australia                                             -80445998
Name: profit, Length: 121, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
data['profit'] = data['revenue'] - data['budget']
data.original_title[(data.release_year <=2014)&(data.release_year >=2012)&(data.profit == data.profit.min())]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [4]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начал
data_1 = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:5]
display(data_1)

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
data = pd.read_csv('movie_bd_v5.xls')
data['profit'] = data['revenue'] - data['budget']
data = data[data.profit > 0]
data = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:5]
display(data)

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [28]:
data = pd.read_csv('movie_bd_v5.xls')
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')
data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data = pd.read_csv('movie_bd_v5.xls')
data = data[data.genres.str.contains("Action")]
data = pd.Series(data['director'].str.cat(sep='|').split('|')).value_counts()[:5]
display(data)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [29]:
data = pd.read_csv('movie_bd_v5.xls')
data = data[data.release_year == 2012]
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
data.groupby(['cast'])['revenue'].max().sort_values(ascending = False)

cast
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
                         ...
Jason Bateman            3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [32]:
data = pd.read_csv('movie_bd_v5.xls')
data = data[data.budget > data.budget.mean()]
data = pd.Series(data['cast'].str.cat(sep='|').split('|')).value_counts()[:1]
display(data)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [6]:
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data = data.explode('cast')
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data = data.explode('genres')
data[data.cast == 'Nicolas Cage'].genres.value_counts()[:3]

Action      17
Thriller    15
Drama       12
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [5]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data['profit'] = data['revenue'] - data['budget']
data = data[data.production_companies == 'Paramount Pictures']
data.groupby(['profit'])['original_title'].value_counts()[:5]

profit     original_title
-64831034  K-19: The Widowmaker    1
-60519261  Timeline                1
-51788987  Next                    1
-46604061  Alfie                   1
-24805000  Twisted                 1
Name: original_title, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [18]:
data = pd.read_csv('movie_bd_v5.xls')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data['profit'] = data['revenue'] - data['budget']
data = data[data.production_companies.str.contains('Warner Bros')]
data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [45]:
data = pd.read_csv('movie_bd_v5.xls')
def new_release_date(release_date):
    if '/' in release_date:
        return release_date[:2]
    
data['release_date'] = data.release_date.apply(new_release_date)
data.groupby(['release_date'])['original_title'].count()

release_date
1/    110
10    186
11    146
12    190
2/    135
3/    156
4/    149
5/    140
6/    147
7/    142
8/    161
9/    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
data = pd.read_csv('movie_bd_v5.xls')
def new_release_date(release_date):
    if '/' in release_date:
        return release_date[:2]
    
data['release_date'] = data.release_date.apply(new_release_date)
data.groupby(['release_date'])['original_title'].count()
data.query('release_date in ["6/","7/","8/"]').original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [4]:
data = pd.read_csv('movie_bd_v5.xls')
def new_release_date(release_date):
    if '/' in release_date:
        return release_date[:2]
data['release_date'] = data.release_date.apply(new_release_date)

data = data.query('release_date in ["1/","2/","12"]')
data['director'] = data['director'].apply(lambda x: x.split('|'))
data = data.explode('director')

data.groupby(['director'])['original_title'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [7]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')

data['original_title'] = data.original_title.apply(lambda x: len(x))
data.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False)[:5]

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: original_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [9]:
data = pd.read_csv('movie_bd_v5.xls')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')

data['overview'] = data.overview.apply(lambda x: len(x.split(' ')))
data.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [3]:
data = pd.read_csv('movie_bd_v5.xls')
# всего фильмов - 1889. 1% от 1889 = 19 фильмов.

data.groupby(['vote_average'])['original_title'].count() 
# 7.9    9
# 8.0    4
# 8.1    1
# 14 фильмов имеют наивысший рейтинг

data = data[data.vote_average >= 7.9] # отобразим первые 14 фильмов с наивысшим рейтингом
data.original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
from itertools import combinations
data['cast']=data['cast'].apply(lambda x: str(x).split('|'))


data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))

data = data.explode('pairs')

Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [3]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

NameError: name 'answers' is not defined

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)